# Lab | Inferential statistics - ANOVA
Note: The following lab is divided in 2 sections which represent activities 3 and 4.

## Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

### Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the `data anova_lab_data.xlsx` file in the `files_for_lab` folder

* State the null hypothesis
* State the alternate hypothesis
* What is the significance level
* What are the degrees of freedom of model, error terms, and total DoF
* Data was collected randomly and provided to you in the table as shown: link to the image - Data

## Part 2
In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Part 1
Understand the problem and write down all the steps to set up ANOVA.

In [2]:
data = pd.read_excel('/Users/pauli/Desktop/Ironhack/Week17/Sabado/lab-inferential-statistics-anova/files_for_lab/anova_lab_data.xlsx', sheet_name='data_collected')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [3]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [4]:
# Renaming the columns
data.columns = data.columns.str.replace(' ', '').str.lower().str.replace('etchingrate', 'etching_rate')
data.columns

Index(['power', 'etching_rate'], dtype='object')

In [5]:
# Removing W from the feature power
data.power = data.power.apply(lambda x: x.replace(' W', '') if x.endswith('W') else x)
data.power.unique()

array(['160', '180', '200'], dtype=object)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power         15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [33]:
# Setting power as an integer
data.power = data.power.astype(int)

### State the null hypothesis and the alternate hypothesis
    H0: m0 = m1 = m2 ... = mn  --> All the mean etching rates are equal for different levels of power
    
    H1: At least one of the mean for a different level of power is different to the other mean

### Level of significance
    The level of significance is 0.05
    
    Confidence level: 95%

### What are the degrees of freedom of model, error terms, and total DoF

In [26]:
# Total samples in the dataset
npower = data.power.unique()
print('Total samples in the dataset: ', len(npower))

print('Degrees of freedom between samples: ', len(npower)-1)

# Check the number of observations in the dataset
n = data.shape[0] 
print('Number of observations in the dataset: ', n)

print('Degrees of freedom of the model: ', n-1)

Total samples in the dataset:  3
Degrees of freedom between samples:  2
Number of observations in the dataset:  15
Degrees of freedom of the model:  14

In [37]:
# Checking the mean of each sample
# data.groupby('power').agg(np.mean).T
data.pivot(columns='power').describe().T

                    count   mean       std   min   25%   50%   75%   max
             power
etching_rate 160      5.0  5.792  0.319875  5.43  5.59  5.71  6.01  6.22
             180      5.0  6.238  0.434304  5.66  5.98  6.24  6.60  6.71
             200      5.0  8.318  0.669604  7.55  7.90  8.15  8.79  9.20

## Part 2
Use Python to conduct ANOVA. What conclusions can you draw from the experiment and why?

In [27]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ power ',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
power      2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

> The P value 0.000008 is lower than our selected level of significance of 0.05, so we reject null hypothesis. This means that levels of power impact the etching rate, but we can't tell which one yet.